.row {
    margin-bottom: 20px;

    .row_title {
        margin-left: 23px;
        padding: 0.3rem 0;
        color: #fff;
    }


    .row_posters {
        position: relative;

        .sliderArrow {
            width: 38px;
            height: 100%;
            background-color: rgb(22, 22, 22, 0.5);
            color: white;
            position: absolute;
            z-index: 99;
            top: 0;
            bottom: 0;
            margin: auto;
            cursor: pointer;

            &.Left {
                left: 0;
            }

            &.Right {
                right: 0;
            }
        }

        .row_posterMovies {
            display: flex;
            align-items: center;
            overflow-y: hidden;
            overflow-x: scroll;
            padding: 20px;


            .row_posterLarge {
                max-height: 150px;
                padding: 0 1rem;
            }

            .row_poster {
                cursor: pointer;
                width: 250px;
                object-fit: contain;
                border-radius: 3px;
                margin-right: 0.5rem;
                transition: transform 0.3s;

                &:hover {
                    transform: scale(1.2);
                }
            }

            &::-webkit-scrollbar {
                display: none;
            }
        }


    }

}